<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036117855994-62i8shiac4r97dt43k5a3s18qgiqasm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036117855994-62i8shiac4r97dt43k5a3s18qgiqasm4</string>
	<key>API_KEY</key>
	<string>AIzaSyDIunYnYp5JpTEU10uhvUFVEOX1bEswuSw</string>
	<key>GCM_SENDER_ID</key>
	<string>1036117855994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monaca.knowledgecampus</string>
	<key>PROJECT_ID</key>
	<string>knowledgecampus-test</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledgecampus-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036117855994:ios:dd01c3424193e89b4b4343</string>
	<key>DATABASE_URL</key>
	<string>https://knowledgecampus-test.firebaseio.com</string>
</dict>
</plist>