/**/
.cp_iptxt {
  margin: 7px 3%;
  font-size: 0.8em;
}

.cp_iptxt ons-select {
  margin: 0px;
}

.bottom-bar {
  height: 49px;
}

.cp_iptxt {
  position: relative;
  margin: 15px 3%;
}
.cp_iptxt input {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.5em;
  transition: 0.3s;
  border: 1px solid #898989;
  border-radius: 4px;
  outline: none;
}
.cp_iptxt input:focus {
  border-color: #ff9831;
}
.cp_iptxt input {
  padding-left: 40px;
}
.cp_iptxt i {
  position: absolute;
  top: 13px;
  left: 0px;
  padding: 9px 8px;
  transition: 0.3s;
  color: #aaaaaa;
}
.cp_iptxt input:focus + i {
  color: #ff9831;
}

.tabbar__icon > .fa {
  font-size: 0.8em;
}
:checked + .tabbar__button {
  color: #ff9831;
}

.cp_iptxt ons-select {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  padding: 0.3em;
  transition: 0.3s;
  border: 1px solid #515c6f;
  border-radius: 4px;
  outline: none;
}
.cp_iptxt ons-select:focus {
  border-color: #ff9831;
}
.cp_iptxt ons-select {
  padding-left: 40px;
}

.fa-spinner {
  font-size: 40px;
  color: #0799d7;
}

#chat-page > .page__content,
#tweet-page > .page__content {
  background: white !important;
}

#search-page > .page__content {
  padding-right: 10px;
  padding-left: 10px;
}

.search-input {
  height: 35px;
  border-radius: 10px;
}

#tweet-page .left {
  align-items: baseline;
  padding-top: 20px;
}

#tweet-page .list-item__center {
  padding-top: 20px;
  padding-bottom: 20px;
}

.send-area {
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 49px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #ccc;
}

.send-area ons-input {
  display: inline-block;
  position: relative;
  width: calc(100% - 60px);
}

.send-area input {
  vertical-align: middle;
  position: relative;
  width: 98%;
}

#chat-detail-page .right {
  margin-right: -5px;
}
#chat-detail-page .left {
  margin-left: -5px;
}
#chat-detail-page .right ons-card {
  border-radius: 50px 50px 0px 50px;
}
#chat-detail-page .left ons-card {
  border-radius: 50px 50px 50px 0px;
}

#chat-detail-page .popover__content,
#search-page .popover__content {
  width: 300px;
}

#chat-detail-page .popover__content .text-input,
#search-page .popover__content .select-input {
  text-align: right;
}

#search-page .popover__content .select-input,
#search-page .popover__content ons-col {
  font-size: 0.9em;
}

.back-button__icon,
.back-button__label {
  fill: gray;
  color: gray;
  padding-left: 7px;
}

#mypageProfileEdit-page > .page__content {
  padding-right: 10px;
  padding-left: 10px;
  background: white !important;
}

#accountCreate .cp_iptxt {
  margin: 3px 3%;
}

#loginPage > .page__content,
#loginPage2 > .page__content,
#accountCreate > .page__content,
#firstPage > .page__content,
#myPage > .page__content,
#myPointKanriPage > .page__content,
#searchBeforePage > .page__content,
#searchAfterPage > .page__content,
#productDetailPage > .page__content,
#syuppinGenrePage1 > .page__content,
#syuppinGenrePage2 > .page__content,
#syuppinGenrePage3 > .page__content {
  background: white !important;
}

.large-button-orange {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #ff9831;
}
.large-button-gray {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: gray;
}

ons-input,
ons-select {
  border: 1px solid #ccc;
  width: 95%;
  border-radius: 5px;
  padding: 0.3em;
}

.select-input,
.text-input,
.textarea {
  font-size: 1em;
}
.textarea {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  padding: 3%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
.item-label,
.toolbar__center,
.list-item__center,
.list-header {
  color: #515c6f;
}

.back-button__icon {
  fill: #515c6f;
  color: #515c6f;
}
